.header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  height: var(--header-height);
  padding: 12px 36px;

  background: var(--color-dark-700, #171717);
  border-bottom: 1px solid var(--color-dark-500, #333);
}

.logoLink {
  display: flex;
}

.userMenuTrigger {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 14px;
  align-items: center;
}

.userName {
  text-decoration: dashed underline;
}

.userEmail {
  color: var(--color-dark-100);
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userInfoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}
